/* .portada-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
    object-fit: cover;
}

.portada-logo {
    position: relative;
    z-index: 1;
    width: 400px;
    height: auto;
    filter: invert();
}

.portada-content h1 {
    position: relative;
    z-index: 1;
    margin-left: 2rem;
    text-align: center;
    font-size: clamp(2.5rem, 4vw + 1.5rem, 7rem);
    font-weight: 400;
    line-height: clamp(2.75rem, 4.4vw + 1.65rem, 6.5rem);
}

@media (max-width: 1024px) {
    .portada-content h1 {
        font-size: 4rem;
        line-height: 4.5rem;
        margin-left: 1.5rem;
    }
    
    .portada-logo {
        width: 250px;
    }
} */








/* .portada-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
    object-fit: cover;
}

.portada-logo {
    position: relative;
    z-index: 1;
    width: 400px;
    height: auto;
    filter: invert();
}

.portada-content h1 {
    position: absolute;
    bottom: 2rem; 
    left: 50%;
    transform: translateX(-50%); 
    z-index: 1;
    text-align: center;
    font-weight: 400;
    margin: 0;
    color: var(--light-color);
    width: 90%; 
    max-width: 1200px; 
} */







.portada-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
    object-fit: cover;
}

.portada-logo {
    position: relative;
    z-index: 1;
    width: 400px;
    height: auto;
    filter: invert();
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.portada-logo.fade-out {
    opacity: 0;
}

.portada-content h1 {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    text-align: center;
    font-weight: 400;
    margin: 0;
    color: var(--light-color);
    width: 90%; 
    max-width: 1200px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.portada-content h1.show {
    opacity: 1;
}

.portada-content h1.fade-out {
    opacity: 0;
}

@media (max-width: 1024px) {
    .portada-logo {
        width: 250px;
    }
}

@media (max-width: 768px) {
    .portada-content h1 {
        font-size: 2.5rem;
        line-height: 3rem;
        bottom: 2rem;
    }
}