/* .portadaPhone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    height: 100vh;
    padding: 0.75rem;
} */








/* .portadaPhone {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0.75rem;
    overflow: hidden;
}

.video-background-phone {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
    object-fit: cover;
}

.portadaPhone-logo {
    position: relative;
    z-index: 1;
    width: 250px;
    height: auto;
    filter: invert();
}

.portadaPhone h1 {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    text-align: center;
    font-weight: 400;
    margin: 0;
    color: var(--light-color);
    width: 90%;
    font-size: 1.8rem;
    line-height: 2rem;
} */








.portadaPhone {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0.75rem;
    overflow: hidden;
}

.video-background-phone {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
    object-fit: cover;
}

.portadaPhone-logo {
    position: relative;
    z-index: 1;
    width: 250px;
    height: auto;
    filter: invert();
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.portadaPhone-logo.fade-out {
    opacity: 0;
}

.portadaPhone h1 {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    text-align: center;
    font-weight: 400;
    margin: 0;
    color: var(--light-color);
    width: 90%;
    font-size: 1.8rem;
    line-height: 2rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.portadaPhone h1.show {
    opacity: 1;
}

.portadaPhone h1.fade-out {
    opacity: 0;
}