:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 1rem 1rem;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  scroll-behavior: smooth; 
}

*{
  box-sizing: border-box; 
}

:root {
  --dark-color: black;
  --dark-grey: #2e2e2e;
  --medium-grey: #999999;

  --burgundy-color: #6a0b0c;
  --orange-color: #ff6223;

  --light-grey: #d8d8d8;
  --light-sand: #e2dccc;
  --light-cream: #f7f6f2;
  --light-color: white;



  --main-font: 'Scto Grotesk A', Helvetica, Arial, sans-serif;
  --serif-one-font: 'Playfair', serif;
  --serif-italic: 'Playfair-italic';
}

