:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-display: swap; 
}

/* body {
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  scroll-behavior: smooth; 
} */

html {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--background-color);
  overscroll-behavior-y: none;
  scroll-behavior: smooth; 
}

*{
  box-sizing: border-box; 
}

:root {
  --dark-color: black;
  --dark-grey: #2e2e2e;
  --medium-grey: #999999;

  --burgundy-color: #6a0b0c;
  --orange-color: #ff6223;

  --light-grey: #c0c0c0;
  --light-sand: #e2dccc;
  --light-cream: #f7f6f2;
  --light-color: white;

  --background-color: #eeeeee;

  --main-font: 'Scto Grotesk A', Helvetica, Arial, sans-serif;
  --serif-one-font: 'Playfair', serif;
  --serif-italic: 'Playfair-italic';
}