.page-not-found {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 10rem;
}

.page-not-found h1 {
    font-size: 0.8rem;
}

.error-404 {
    color: var(--corporative-color);
}


@media screen and (max-width: 600px) {
    .page-not-found {
        flex-direction: row;
        gap: 2rem;
        justify-content: left;
        height: 100dvh;
    }
    
    .page-not-found h1 {
        font-size: 0.7rem;
    }
}

