/* .header-language {
    position: relative;
    display: inline-block;
}

.language-dropdown {
    position: absolute;
    top: 100%; 
    left: 0;
    right: 0;
    z-index: 1001;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
} */

.header-language {
    position: relative;
    display: flex; /* Cambiar de inline-block a flex */
    align-items: center; /* Centrar verticalmente */
}

.language-dropdown {
    position: absolute;
    top: 100%; 
    left: 0;
    right: 0;
    z-index: 1001;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}