.navigation-phone-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-color);
    z-index: 9999;
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navigation-phone-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 0rem 0rem;

    position: relative;
}

/* Contenedor del carousel en posición absoluta */
.carousel-header-imported {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 3;
    pointer-events: none; /* Para que no interfiera con los clicks en la navegación */
}

.navigation-phone-logo {
    width: 80px;
    margin-bottom: 0rem;
    display: flex;
    padding-top: 19rem;
    align-items: flex-start; 
    justify-content: center;

    z-index: 2; 
}

.navigation-phone-logo::before {
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
}

.navigation-phone-logo img {
    width: 60px; 
    height: 60px;
    object-fit: contain;
    padding: 7px; 
    position: relative;
    z-index: 1;
}

.nav-and-lng {
    display: flex;
    flex-direction: column;
    border-left: 1.4px solid var(--light-grey);
    padding-top: 12rem;

    position: relative;
    z-index: 2;
}

.navigation-phone-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0rem;
    gap: 0rem;
    margin-bottom: 0rem;
    flex: 1;
}

.navigation-phone-link {
    font-size: 2rem;
    font-weight: 300;
    color: var(--medium-grey);
    text-decoration: none;
    transition: color 0.3s ease;
    text-transform: lowercase;
    border-left: 1.4px solid transparent;

    padding-left: 1.4rem; 
    margin-left: -1px;
}

.navigation-phone-link.active-phone {
    color: var(--dark-color);
    border-left: 1.4px solid var(--dark-color);
}