.layout-intro-services {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding-top: 3rem;
    gap: 3rem;
    position: relative; 
}

.layout-intro-services.reverse {
    flex-direction: row-reverse;
    gap: 5rem;
}

.column1,
.column2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: transparent;
    position: relative;
    z-index: 10;
}

.column1 {
    justify-content: flex-end;
}

.column2 {
    justify-content: flex-start;
}

.column1 h4 {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 0rem;
}

.column1 h5 {
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
    padding-bottom: 2.5rem;
}

.black-bg {
    position: absolute;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--dark-color);
    z-index: 1;
}

.layout-intro-services.architecture .black-bg {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.layout-intro-services.management .black-bg {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.intro-services-home {
    width: 80%;
    border-left: 1px solid var(--light-grey);
    padding-left: 1rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    margin-top: 0rem;
    font-weight: 400;
    font-size: 1.1rem;
}

.layout-intro-services.architecture .intro-services-home {
    border-left-color: rgba(255, 255, 255, 0.3);
}

.button-services-home {
    margin-left: 2.5rem;
}

.column2 img {
    background-color: var(--light-grey);
    width: 90%;
    aspect-ratio: 4/5;
    border-radius: 15px;
}

.title-architecture { 
    color: var(--burgundy-color); 
}

.subtitle-architecture { 
    color: var(--light-color); 
}

.text-architecture { 
    color: var(--light-color); 
}

.title-management { 
    color: var(--orange-color);
}

.subtitle-management { 
    color: var(--dark-color); 
}

.text-management { 
    color: var(--dark-color); 
}

.explore-button {
    position: fixed;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: var(--light-color);
    border-radius: 50px;
    font-size: 2rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transform: translate(-50%, -50%);
    letter-spacing: 0.05rem;
    width: 80px;   
    height: 130px; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    cursor: pointer;
}

.explore-button::before {
    content: attr(data-text);
    position: absolute;
    white-space: nowrap;
    animation: scrollText 3s linear infinite;
}

.explore-button {
    animation: scrollTextContainer 3s linear infinite;
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scrollTextContainer {
    0% {
        text-indent: 80px;
    }
    100% {
        text-indent: -80px;
    }
}