.MngServicesPhone-container {
    display: flex;
    min-height: 50vh;
    padding: 0rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mng-services-content-phone {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}