.mng-services-wrapper {
    position: relative;
    width: 100%;
}

.tab-menu-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    transition: top 0.3s ease;
}

.mng-services-content {
    position: relative;
}

.service-section {
    height: 100vh;
}