.button-general {
    padding: 11px 50px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    /* max-width: 200px; */
    width: fit-content; 
    display: inline-flex;  /* AÑADE ESTO */
    align-items: center;  
    gap: 8px; 
    font-family: 'JotaArq';
    letter-spacing: 0.05rem;
}


.button-icon {
    width: 18px;
    height: 18px;
    transition: transform 0.3s ease;
    top: 1rem;
    transform: translateY(0.5px);
}

.button-general.primary .button-icon,
.button-general.secondary .button-icon {
    filter: brightness(0) invert(1); /* Blanco */
}

.button-general.minimal .button-icon {
    filter: brightness(0); /* Negro */
}

.button-general:hover .button-icon {
    transform: translateX(4px); 
}



.button-general.primary {
    background-color: var(--orange-color);
    color: var(--light-color);
    border: 1px solid var(--orange-color);
}

.button-general.secondary {
    background-color: var(--dark-color);
    color: var(--light-color);
    border: 1px solid var(--dark-color);
}

.button-general.minimal {
    background-color: var(--transparent-color);
    color: var(--dark-color);
    border: 1px solid var(--dark-color);
}
