.section-services-intro {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    padding: 2rem 0rem;
    padding-top: 6rem;
}

.container-services {
    display: flex;
    flex-direction: column;
    position: relative;
}

.mini-title-services {
    padding-left: 1rem;
}

.black-connector {
    width: 100vw;
    height: 3rem; 
    background-color: var(--dark-color);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}