.section-services-intro {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    padding: 2rem 0rem;
    padding-top: 6rem;
    /* border-top: 1px solid var(--light-grey); */
}

.container-services {
    display: flex;
    flex-direction: column;
    position: relative;
    /* gap: 5rem; */
    /* background-color: black; */
}

.mini-title-services {
    padding-left: 1rem;
}

.black-connector {
    width: 100vw;
    height: 3rem; /* Altura del espacio entre componentes */
    background-color: var(--dark-color);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}