.intro-section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    padding-top: 6rem;
    padding-bottom: 1rem;
    justify-content: space-between;
}

.first-line,
.second-line {
    display: flex;
}

.first-line {
    flex-direction: row;
}

.fl-left,
.fl-right {
    display: flex;
    flex-direction: column;
}

.fl-left {
    /* flex-basis: 40%; */
    flex: 2;
}
.fl-right {
    /* flex-basis: 60%; */
    flex: 3;
    /* background-color: aqua; */
}

.fl-left-content {
    /* display: flex; */
    width: 40%;
}

.mini-intro {
    display: flex;
    align-items: baseline;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.mini-intro span:first-child {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--primary-color);
    margin-right: 5px;
    
}

.mini-intro span:last-child {
    font-size: 1rem;
    color: var(--secondary-color);
    /* text-transform: uppercase; */
}


.fl-right h1{
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3rem;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

.fl-right img{
    width: 80%;
    aspect-ratio: 16/7;
    background-color: var(--light-grey);
}






/* .second-line {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-top: 1px solid var(--light-grey);
}

.sl-item {
    text-align: left;
    border-left: 1px solid var(--light-grey);
    padding-left: 0.5rem;
}
.sl-item .type {
    font-size: 1rem;
    color: var(--medium-grey);
    margin-top: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}

.sl-item .qty {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0rem;
} */

.second-line {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-top: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);

}

.sl-item {
    flex: 1;
    text-align: left;
    border-left: 1px solid var(--light-grey);
    padding-left: 0.5rem;
}

.sl-item:first-child {
    border-left: none;
}

.sl-item .type {
    font-size: 1rem;
    color: var(--medium-grey);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.sl-item .qty {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    margin-top: 0;
}